div.page {
  div.introduction{
    height: 100vh;
    background-image: linear-gradient(
      to left top,
      #0078c7,
      #2493dda9,
      #ee3b67a6,
      #e20a2ebb,
      #dd2e2ee1,
      #b34949bb,
      #2b818bb0,
      #00c7a8,
      #00c7a8
    );
    div.introduction_Text{
    display: grid;
    grid-template-columns: 50% 50%;
      
      p{
        margin: 50px;
        background-color: rgba(0, 0, 0, 0.24);
        color: white;
        padding: 20px 30px 30px 30px;
        font-size: 25px;
        line-height: 30px;
      }
      
    }
  }
  h1 {
    text-align: center;
    padding: 100px;
    color: white;
  }
  div.components {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    div.component {
      margin: 20px;
      width: 300px;
      height: 250px;
      background-color: #212f44;
      box-shadow: 0 0 5px black;
      display: flex;
      color: #73cd969e;
      justify-content: center;
      align-items: center;
      transition: 200ms;
      &:hover {
        transition: 200ms;
        color: #73cd96dd;
        background-color: #233045;
      }
      h3 {
        font-size: 20px;
      }
      i {
        margin: 5px;
        font-size: 40px;
      }
    }
  }
}
